/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  height: 100%;
  min-height: 100%;
  background-color: #eeeeee;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
strong {
  font-weight: 600;
}
.fill { 
  min-height: 100%;
  height: 100%;
  box-sizing:border-box;
}
#jumbo {
  width: 100%;
  height: 100%;
  min-height: 100%;
  /*min-height: 300px;*/
  display: block;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff; 
  text-transform: uppercase; 
  font-weight: 600; 
  font-size: 14px; 
  padding-top:42px
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
  color: #eeeeee;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: inherit;
  border-color: inherit;
}
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: inherit;
  border-color: inherit;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ccc;
  background-color: inherit;
}
.navbar-nav > li > .dropdown-menu {
  margin-left: 15px;
  margin-top: -10px;
  margin-right: 0;
  margin-bottom: 0;
  right: auto;
  min-width: 360px;
  padding: 8px 12px;
}
/*.dropdown-menu > li > a {
  text-transform: capitalize;
  color: #337ab7;
}*/
.dropdown-header {
  padding: 4px 0;
}
.panel {
  margin-bottom: 30px;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.panel-default > .panel-heading {
  background-color: #ffffff;
}